<!--Admin Navbar-->
<div>

</div>


<!--Admin Front Page-->
<div class="container-fluid" id="admin-background">
    <div class="row">
        <div class="col-lg-7">
            <img src="/assets/admin-img.png" alt="">

        </div>
        <div class="col-lg-5">
            <h1 class="text-center" 
            style="margin: 8px;position: relative; top: 30%;border: 8px double green; border-radius: 20px;
            background-color: rgba(159, 250, 12, 0.767); box-shadow: 3px 3px 10px rgba(230, 255, 5, 0.966);
            font-family: 'Francois One', sans-serif;font-size:35px;">
                Welcome to Admin Page</h1>
        </div>
    </div>
</div>