<!--Author Anindita Sengupta-->

<!--Admin Navbar-->

<!--
<nav class="navbar navbar-expand-lg navbar-light" style="background-color:#91ee45f3;">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink='/admin-browse'>
            <img id="bus-icon" src="/assets/icon01.jpg"> FabRoadies</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse offset-md-6" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" routerLink='/add-bus'>Add Bus</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" routerLink='/admin_bus-list'>List Of Bus</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Search Bus
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" routerLink='/search'>Bus Number</a></li>
                        <li><a class="dropdown-item" href="#">Destination</a></li>
                        <li><a class="dropdown-item" href="#">Departure Date</a></li> 
                    </ul>
                </li>
                <button class="btn btn-success mx-3" (click)="home()">Home</button>
            </ul>
        </div>
    </div>
</nav>   -->

<!--Admin List UI-->
<div class="container-fluid my-2">
    <table class="table table-dark table-bordered table-hover">
        <thead>
            <tr>
                <th scope="col">Bus Number</th>
                <th scope="col">Source</th>
                <th scope="col">Destination</th>
                <th scope="col">Agency</th>
                <th scope="col">Bus Type</th>
                <th scope="col">Date of Departure</th>
                <th scope="col">Departure Time</th>
                <th scope="col">No. of Seats</th>
                <th scope="col" colspan="3">Price</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let b of bList, let i=index">
                <th scope="row">{{b.busno}}</th>
                <td>{{b.departureCity}}</td>
                <td>{{b.arrivalCity}}</td>
                <td>{{b.agency}}</td>
                <td>{{b.busType}}</td>
                <td>{{b.dateOfDeparture}}</td>
                <td>{{b.departuretime}}</td>
                <td>{{b.seats}}</td>
                <td>{{b.price}}</td>
                <td><button class="btn btn-info" (click)="update(b.busno)">Update</button></td>
                <td><button class="btn btn-danger" (click)="remove(b.busno)">Delete</button></td>
            </tr>
        </tbody>
    </table>
</div>