<!--@author Jaspreet-->
<!--@Version 1.0-->
<!--@No Buses Found Page-->
<!--Search for a different Bus Route button to be linked with Browse page-->

<div class="t-center" id="image">
    <!--Image kept in assets folder-->
    <img src="C:\Users\ibmjfsdb214\Documents\GitHub\fabRoadies-frontend\FabRoadies\src\assets\no-bus.png">
</div>
<div class="t-center">
    <p><b>Oops!! No Buses Found!!!</b></p>
    <p id="text2"> No Routes Available </p>
</div>
<hr width="30%">

<div style="margin: 20px;" class="t-center">
    <button mat-raised-button color="accent">
        Search for a different Bus Route
    </button>
</div>
